<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title >Title</title>
</head>

<body>

<!--Main layout-->
<main layout:fragment="content">

    <div class="container-fluid ">

        <div class="card card-cascade narrower">


            <h1 style="font-size: 20px" class="white-text text-center">[[${isNew}?'Create Book':'Update Book']] &nbsp;&nbsp; <i
                    class="fa fa-book"></i></h1>


            <!-- Extended material form grid -->
            <form class="md-form" th:action="${isNew ? '/create/submit' : '/update/submit'}" method="post"
                  th:object="${book}"
                  enctype="multipart/form-data">


                <label for="inputAuthor4M1D">Title</label>
                <input th:field="*{title}"  type="text" id="inputAuthor4M1D">


                <span style="color: red;" th:if="${#fields.hasErrors('title')}"
                      th:text="${#fields.errors('title')[0]}"></span><br>

                <label>Category</label>
                <select th:name="category.id" id="category_id">

                    <option disabled th:if="${isNew}">Choose Your Category</option>
                    <th:block>
                        <option th:each="category: ${categories}" th:object="${category}" th:value="*{id}"
                                th:text="*{name}"></option>
                    </th:block>

                </select>
                <br>
                <label for="inputAuthor4MD">Author</label>
                <input th:field="*{author}" type="text"  id="inputAuthor4MD"><br>

                <label for="inputPublisher4MD">Publisher</label>
                <input th:field="*{publisher}" type="text" id="inputPublisher4MD"><br>



                <div>
                    <span>Choose file</span>
                    <input type="file" name="file">
                </div>
                <input type="text" placeholder="Upload your file" hidden>

                <!-- Grid column -->

                <!-- Grid row -->

                <input type="hidden" th:field="*{thumbnail}" hidden><br>
                <input type="hidden" th:field="*{id}" hidden>

                <button type="submit" class="btn btn-block btn-primary btn-md " style="width: 100px">[[${isNew
                    ? 'Create' : 'Update'}]]
                </button>
                <span class="mx-4"></span>
            </form>
            <!-- Extended material form grid -->


        </div>
    </div>
    <hr>


    </div>

</main>
<!--/Main layout-->

<script layout:fragment="script" th:inline="javascript" th:if="${!isNew}">
    /*<![CDATA[*/
    var book_cate_id = /*[[${book.category.id}]]*/ null;
    var categories = /*[[${categories}]]*/ null;

    console.log(book_cate_id);
    // console.log(categories);
    /*]]>*/


    $(document).ready(function () {
        $('input#input_text, textarea#textarea1').characterCounter();


        $.each(categories, function (index, category) {
            // console.log(category);
            if (book_cate_id == category.id) {
                $('#category_id option[value="' + book_cate_id + '"]').attr('selected', 'selected');
            }
        })
    });
 </script>



    </body>





</html>
