<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div style="width: 100%; height: 100px; background-color:#9fcdff" th:fragment="fr-header">
    <h1 th:text="#{title}">Welcome To Book Management System</h1>
    <span th:text="#{table.Language}">Language</span>
    <a href="?lang=km">
        <img src="../../static/img/flag-round-250.png" style="width: 40px" alt="">
    </a>
    <a href="?lang=en">
        <img src="../../static/img/Britain-512.png" style="width: 40px" alt="">
    </a>
</div>


</body>
</html>