<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>

</head>

<body>


<!--Main layout-->
<main  layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th class="th-lg" th:text="#{table.id}">ID</th>
            <th class="th-lg" th:text="#{table.title}">Title</th>
            <th class="th-lg" th:text="#{table.author}">Author</th>
            <th class="th-lg" th:text="#{table.publisher}">Publisher</th>
            <th class="th-lg" th:text="#{category}">Category</th>
            <td class="th-lg" th:text="#{thumbnail}">Thumbnail</td>
            <th class="th-lg" th:text="#{table.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}" th:object="${book}">
            <td >[[*{id}]]</td>
            <td th:text="*{title}">Title</td>
            <td th:text="*{author}">Author</td>
            <td th:text="*{publisher}">Publisher</td>
            <td th:text="*{category.name}"> </td>
            <td >
                <img style="width: 50px; height: 50px; border: 1px solid #c1c1c1;" th:src="*{thumbnail}" >
            </td>
            <td>
                <a th:href="@{/view/{id}(id=${book.getId()})}" type="button" > View</a>
                <a th:href="@{/update/{id}(id=${book.getId()})}" type="button" >Update</a>
                <a th:href="@{/remove/{id}(id=${book.getId()})}" type="button">Delete</a>
            </td>
        </tr>

        </tbody>
    </table>

    <a href="/create" type="button" ><button type="submit" href="" class="btn btn-block btn-primary btn-md " style="width: 100px">Add New
    </button></a>

</main>
<!--/Main layout-->
<script layout:fragment="script">
    $('body').on('click', '.delete-btn', function () {
        var data_id = $(this).attr("data-id");

        if (confirm("Do you want to delete?")) {
            window.location = "/remove/" + data_id;
        }

    });
</script>
</body>

</html>
